In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_GDP_per_capita"
data= requests.get(url)

In [3]:
soup= BeautifulSoup(data.text, "html.parser")

In [5]:
print("All the tables on the page:" , len(soup.findAll("table")))

All the tables on the page: 5

In [6]:
title= soup.title
print(title)

<title>List of U.S. states and territories by GDP per capita - Wikipedia</title>

In [ ]:
text= soup.get_text()
print(text)
#This gives us all the text on the webpage

In [ ]:
my_table= soup.findAll("table")[0]
my_table

In [9]:
rows_in_table= my_table.findAll("tr")
len(rows_in_table)
#Becasue there are 53 rows in our table on wiki page

53

In [15]:
links= my_table.findAll("a")
links

[<a href="#cite_note-2">[2]</a>,
 <a href="/wiki/Washington,_D.C." title="Washington, D.C.">District of Columbia</a>,
 <a href="/wiki/Massachusetts" title="Massachusetts">Massachusetts</a>,
 <a href="/wiki/New_York_(state)" title="New York (state)">New York</a>,
 <a href="/wiki/Connecticut" title="Connecticut">Connecticut</a>,
 <a href="/wiki/Alaska" title="Alaska">Alaska</a>,
 <a href="/wiki/Delaware" title="Delaware">Delaware</a>,
 <a href="/wiki/North_Dakota" title="North Dakota">North Dakota</a>,
 <a href="/wiki/Wyoming" title="Wyoming">Wyoming</a>,
 <a href="/wiki/California" title="California">California</a>,
 <a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>,
 <a href="/wiki/Washington_(state)" title="Washington (state)">Washington</a>,
 <a href="/wiki/Maryland" title="Maryland">Maryland</a>,
 <a href="/wiki/Illinois" title="Illinois">Illinois</a>,
 <a href="/wiki/Texas" title="Texas">Texas</a>,
 <a href="/wiki/Minnesota" title="Minnesota">Minnesota</a>,
 <a href="/wiki/Nebraska" title="Nebraska">Nebraska</a>,
 <a href="/wiki/Colorado" title="Colorado">Colorado</a>,
 <a href="/wiki/New_Hampshire" title="New Hampshire">New Hampshire</a>,
 <a href="/wiki/Virginia" title="Virginia">Virginia</a>,
 <a href="/wiki/Hawaii" title="Hawaii">Hawaii</a>,
 <a href="/wiki/Pennsylvania" title="Pennsylvania">Pennsylvania</a>,
 <a href="/wiki/Oregon" title="Oregon">Oregon</a>,
 <a href="/wiki/Iowa" title="Iowa">Iowa</a>,
 <a href="/wiki/South_Dakota" title="South Dakota">South Dakota</a>,
 <a href="/wiki/Rhode_Island" title="Rhode Island">Rhode Island</a>,
 <a href="/wiki/Ohio" title="Ohio">Ohio</a>,
 <a href="/wiki/Wisconsin" title="Wisconsin">Wisconsin</a>,
 <a href="/wiki/Kansas" title="Kansas">Kansas</a>,
 <a href="/wiki/Indiana" title="Indiana">Indiana</a>,
 <a href="/wiki/Georgia_(U.S._state)" title="Georgia (U.S. state)">Georgia</a>,
 <a href="/wiki/Utah" title="Utah">Utah</a>,
 <a href="/wiki/Oklahoma" title="Oklahoma">Oklahoma</a>,
 <a href="/wiki/North_Carolina" title="North Carolina">North Carolina</a>,
 <a href="/wiki/Vermont" title="Vermont">Vermont</a>,
 <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>,
 <a href="/wiki/Nevada" title="Nevada">Nevada</a>,
 <a href="/wiki/Michigan" title="Michigan">Michigan</a>,
 <a href="/wiki/Missouri" title="Missouri">Missouri</a>,
 <a href="/wiki/Tennessee" title="Tennessee">Tennessee</a>,
 <a href="/wiki/New_Mexico" title="New Mexico">New Mexico</a>,
 <a href="/wiki/Florida" title="Florida">Florida</a>,
 <a href="/wiki/Montana" title="Montana">Montana</a>,
 <a href="/wiki/Kentucky" title="Kentucky">Kentucky</a>,
 <a href="/wiki/Maine" title="Maine">Maine</a>,
 <a href="/wiki/Arizona" title="Arizona">Arizona</a>,
 <a href="/wiki/Alabama" title="Alabama">Alabama</a>,
 <a href="/wiki/South_Carolina" title="South Carolina">South Carolina</a>,
 <a href="/wiki/Arkansas" title="Arkansas">Arkansas</a>,
 <a href="/wiki/West_Virginia" title="West Virginia">West Virginia</a>,
 <a href="/wiki/Idaho" title="Idaho">Idaho</a>,
 <a href="/wiki/Mississippi" title="Mississippi">Mississippi</a>]

In [16]:
states= []
for link in links:
  states.append(link.get("title"))
states

[None,
 'Washington, D.C.',
 'Massachusetts',
 'New York (state)',
 'Connecticut',
 'Alaska',
 'Delaware',
 'North Dakota',
 'Wyoming',
 'California',
 'New Jersey',
 'Washington (state)',
 'Maryland',
 'Illinois',
 'Texas',
 'Minnesota',
 'Nebraska',
 'Colorado',
 'New Hampshire',
 'Virginia',
 'Hawaii',
 'Pennsylvania',
 'Oregon',
 'Iowa',
 'South Dakota',
 'Rhode Island',
 'Ohio',
 'Wisconsin',
 'Kansas',
 'Indiana',
 'Georgia (U.S. state)',
 'Utah',
 'Oklahoma',
 'North Carolina',
 'Vermont',
 'Louisiana',
 'Nevada',
 'Michigan',
 'Missouri',
 'Tennessee',
 'New Mexico',
 'Florida',
 'Montana',
 'Kentucky',
 'Maine',
 'Arizona',
 'Alabama',
 'South Carolina',
 'Arkansas',
 'West Virginia',
 'Idaho',
 'Mississippi']

In [20]:
states_data = pd.DataFrame(states)
states_data = states_data[1:]
states_data

                       0
1       Washington, D.C.
2          Massachusetts
3       New York (state)
4            Connecticut
5                 Alaska
6               Delaware
7           North Dakota
8                Wyoming
9             California
10            New Jersey
11    Washington (state)
12              Maryland
13              Illinois
14                 Texas
15             Minnesota
16              Nebraska
17              Colorado
18         New Hampshire
19              Virginia
20                Hawaii
21          Pennsylvania
22                Oregon
23                  Iowa
24          South Dakota
25          Rhode Island
26                  Ohio
27             Wisconsin
28                Kansas
29               Indiana
30  Georgia (U.S. state)
31                  Utah
32              Oklahoma
33        North Carolina
34               Vermont
35             Louisiana
36                Nevada
37              Michigan
38              Missouri
39             Tennessee
40            New Mexico
41               Florida
42               Montana
43              Kentucky
44                 Maine
45               Arizona
46               Alabama
47        South Carolina
48              Arkansas
49         West Virginia
50                 Idaho
51           Mississippi